<ion-header>
  <ion-toolbar>
    <ion-title>Cartelera de Peliculas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  LISTA DE LAS MEJORES PELICULAS DEL LA HISTORIA
  <h2>Compralas ya!!</h2>
  <br>
  @for (p of arrayPeliculas; track p.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{p.title}}</ion-card-title>
        <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{p.overview}}
      </ion-card-content>
    </ion-card>
  } @empty {
    <li> There are no items.</li>
  }
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Todos los Derechos Reservados 2024</ion-title>
  </ion-toolbar>
</ion-footer>